import dotenv from "dotenv";

const MONGO_OPTIONS = {
    socketTimeoutMS: 
    autoIndex: 
    retryWrites: 
};

const MONGO_USERNAME = 
const MONGO_PASSWORD = 
const MONGO_HOST =

const MONGO = {
  host: 
  password: 
  userName: 
  options: 
  url: 
};

const SERVER_HOSTNAME = 
const SERVER_PORT = 
const SERVER_TOKEN_EXPIRETIME = 
const SERVER_TOKEN_ISSUER = 
const SERVER_TOKEN_SECRET =

const SERVER = {
  hostname: 
  port: 
  token: {
    expireTime: 
    issuer: 
    secret: 
  },
};

const config = {
  mongo: 
  server: 
};

export default config;